<!DOCTYPE html>
<html>
<head>
	<title>
		FORMS
	</title>
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<script src="./bootstrap/js/jquery.min.js"></script>
	<script src="./angular.min.js"></script>
</head>
<body>
	<!-- <div ng-app="myApp" ng-controller="newctrl">
		<form>
		<input type="text" ng-model="firstname">
	</form>
	</div>
	<script>
		var app=angular.module('myApp',[]);
		app.controller('newctrl',function($scope){
			$scope.firstname="priya";
		})
	</script> -->
	<div ng-app="">
		<form>
		<input type="checkbox" ng-model="firstname">
		
	</form>
	<h1 ng-show='firstname'>welcome to new content</h1>
	
	<p>
		This is basic example of the ng-show.  
	</p>
</div>
	
</body>
</html>