<!DOCTYPE html>
<html>
<head>
	<title>
		Validation
	</title>
	</title>
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<script src="./bootstrap/js/jquery.min.js"></script>
	<script src="./angular.min.js"></script>         
</head>
<body>
	<!-- <form name="newForm">
		<input name="myInput" ng-model="myInput" required>
	</form>
	<p>This is an example state</p> -->
	<form name="newForm">
		<input name="Email" ng-model="myInput" required="Email">
	</form>
	<p>This is an example state</p>
		

</body>
</html>